#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ api.php [QSA,L]

#RewriteEngine off
#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteRule ^(.*)$ /api.php/$1 [L]